* {
    padding: 0;
    margin: 0;
}

body,html {
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#main {
    background-color: #212121;
    height: 100%;
    width: 100%;
}

.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: linear-gradient(135deg, #34cce7, #0b0246);
    height: 450px;
    width: 350px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

#search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

#search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

#search button img {
    width: 14px;
}

.wheathericon {
    width: 170px;
    margin-top: 20px;
}

#wheather h1{
    font-size: 50px;
    font-weight: 500px;
    margin-top: -5px;
}

#wheather h2{
    font-size: 30px;
    font-weight: 400px;
    margin-top: 3px;
}

.detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 40px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;

}
